@charset "utf-8";
/* CSS Document */

body{
	padding: 0px;
	margin: 0px;	
	font-family: 'Open Sans', sans-serif;
}
.select-school{
	position: relative;
}
.school-bg img{
	width: 100%;
	position:fixed;
}
.school-select {
    background: rgba(0, 51, 71, 0.7);
    padding: 20px;
    margin-top: 20%;
    border-radius: 5px;
    border: 7px solid rgb(20, 100, 152);
}
.school-select input {
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
}
.school-select input[type="checkbox"]{
	margin-right: 10px;	
}
.school-select form{
	color: #fff;	
}
.school-select button{
    border: 0px;
	background: #2CC779;
    color: #fff;
    border-radius: 0px;
    margin-bottom: 10px;
}
.school-select button:hover{
	color: #fff;	
}
.school-select label{
	color: #fff;
	text-shadow: none;
	font-size: 16px;	
}
.school-select a{
	color: #fff;	
}
/*profile page*/
.pro-pic img {
    max-width: 80%;
    max-height: 300px;
}
.prof-pic h3 {
    color: #105E92;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.prof-pic h4 {
    color: #2CC779;
    font-weight: 700;
}
.school-select .tab-content{
	padding-top: 20px;
}	
.school-select .nav-tabs>li.active>a,
.school-select .nav-tabs>li.active>a:focus,
.school-select .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #2CC779;
    border: 1px solid #2CC779;
    border-bottom-color: transparent;
}
.school-select .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
	text-align: center;
	width: 50%;
}
.school-select .nav>li>a:focus,
.school-select .nav>li>a:hover {
    text-decoration: none;
	border: 1px solid #146498;
    background-color: #146498;
}
.header .nav>li>a i{
	padding-right: 5px;	
}
.pro-detail label{
	position: absolute;
	left:25px;
	font-weight: 600;
}
.pro-pic img{
	border-radius:10px;	
}
.detail {
    padding: 9px;
	position: relative;
	padding-left: 230px;
}
.detail:nth-child(even) {
	background: #f6f6f6;
	border-left: 5px solid #2CC779;
}
.detail:nth-child(odd):hover{
    background: rgba(255, 125, 93, 0.46);
}
.detail:nth-child(even):hover{
    /* width: 0px; */
    background: rgba(44, 199, 121, 0.3);
}
.detail:nth-child(odd) {
	background: #FFF;
	border-left: 5px solid #FF7D5D;
}
.student-tabs{
	padding-top: 10px;	
}
.student-tabs .pagination{
	margin: 0px;	
}
.student-tabs .dataTables_paginate{
	text-align: right;	
}
.student-tabs .nav-tabs>li{
	width: 25%;
	text-align: center;	
}
.student-tabs .nav-tabs i {
    width: 40px;
    height: 40px;
    background: #105E92;
    line-height: 40px;
    margin-right: 4px;
    border-radius: 100%;
}
.student-tabs .nav>li>a{
	padding: 4px 15px;	
}
.student-tabs .tab-content{
	background: #f9f9f9;
	padding: 15px;	
}
.student-tabs .nav-tabs{
    background: #2CC779;
    background: -webkit-linear-gradient(#2CC779, #2CC779);
    background: -o-linear-gradient(#2CC779, #2CC779);
    background: -moz-linear-gradient(#2CC779, #2CC779);
    background: linear-gradient(#2CC779, #2CC779);
}
.student-tabs .nav-tabs>li>a{
	color: #fff;	
}
.student-tabs .nav-tabs>li.active>a, 
.student-tabs .nav-tabs>li.active>a:focus, 
.student-tabs .nav-tabs>li.active>a:hover{
	background: #FF7D5D;
	border: 1px solid #FF7D5D;
	color: #fff;	
}
.student-tabs .nav>li>a:focus, 
.student-tabs .nav>li>a:hover{
	background: #2CC779;
	border: 1px solid #2CC779; 	
}
.student-tabs .nav-tabs {
    border-bottom: 1px solid #116093;
}
.header .navbar-default {
    background-color: transparent !important; 
    border-color: transparent !important; 
}
.header{
	background: #2CC779;
    background: -webkit-linear-gradient(#2CC779, #2CC779);
    background: -o-linear-gradient(#2CC779, #2CC779);
    background: -moz-linear-gradient(#2CC779, #2CC779);
    background: linear-gradient(#2CC779, #2CC779);	
	border-bottom: 2px solid #FF7D5D;
	margin-bottom: 20px;
}
.header .navbar{
	margin-bottom: 0px;	
}
.pro-pic h3{
    font-weight: 600;
    color: #0E5C8F;
}
.header .navbar-default .navbar-nav>li>a{
	color: #fff;	
}
.header .nav>li>a {
    padding-right: 40px;
}
.logo img{
	width: 100%;	
}
.notification{
	position: relative;	
	width: 140px;
	float: right;
}
.notify-count {
    position: absolute;
    background: #105E92;
    right: 0px;
    width: 25px;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    top: 5px;
    height: 25px;
    line-height: 24px;
}
.notification a{
    display: inline-block;
    background: #FF7D5D;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
	margin-top: 15px;
}
.sap-hr {
	border-top: 1px solid #FF7D5D;
}
.heading h3{
	margin-bottom: 20px;
}
.heading h3 i{
    color: #FF7D5D;
    padding-right: 6px;
    font-size: 26px;
}
.heading h3 span {
    border-bottom: 3px solid #2CC779;
    background: #105E92;
    color: #fff;
    font-size: 18px;
    padding: 7px;
	float: left;
	transition: 0.4s ease;
}
.right-arrow {
	width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 20px solid #105E92;
    float: left; 
}
.contact{
	margin-top: 10px;	
}
.contact strong{
	font-weight: 600;	
}
.content-tab{
	color: #777;
	line-height: 23px;	
}
.teacher-img img{
	width: 100%;	
}
#teachers .item {
    margin: 3px 15px;
    padding: 5px;
    border: 1px solid #EAEAEA;
	min-height:150px;
	background: #fff;
}
#teachers .item img{
    display: block;
    width: auto;
    height: 140px;
	float: left;
	padding-right: 10px;
}
.teacher-detail h4 {
    font-weight: 600;
    font-size: 15px;
    margin: 0px;
    margin-bottom: 10px;
    color: #FF7D5D;
    padding-bottom: 7px;
    border-bottom: 1px solid #8FC4F1;
}
.teacher-detail div{
	margin-bottom: 10px;
	font-size: 13px;	
}
.all-teachers{
	xbackground-image: url(../images/pw_pattern.png);
	background-image: url(../images/teacher-bg.jpg);
	padding: 30px 0px;
	background-size: cover;	
	xbackground: #2D3E50;
}
.teacher-head h3{
	margin-bottom: 20px;	
	color: #fff;
}
.feedback {
    background: #FF7D5D;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    xbackground: url(../images/orange_3d_geometric_abstract_background_6815666.jpg);/
}
.feedback input{
    border-radius: 2px;
    margin-bottom: 10px;
    border: 1px solid #E25C03;
    box-shadow: none;
}
.feedback textarea{
    border-radius: 2px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-shadow: none;
	height: 150px;
}
.feedback h3{
    margin: 10px 0px;
    font-size: 18px;
    line-height: 26px;
}
.feedback button{
    background: #105E92;
    color: #fff;
    width: 120px;
}
.update{
	border: 2px solid #2CC779;
    padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;	
}
.update marquee{
	height: 200px;	
}
.update p{
	font-size: 13px;
	color: #777;	
}
.update h4 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #FF7D5D;
}
.footer{
	background: #0A1040;	
}
.footer-menu ul{
	padding-left: 0px;	
	margin:0px;
}
.footer-menu ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px;	
}
.footer-menu ul li a{
	color: #BFBFBF;	
} 
.icons {
    text-align: center;
    width: 160px;
    height: 160px;
    background: #2CC779;
    float: left;
    margin: 15px;
    color: #fff;
    border: 2px solid #28AD6A;
    box-shadow: 2px 2px 5px #ccc;
	transition: 0.4s ease;
}
.icons:hover{
	background: #FF7D5D;	
}
.icons p{
    font-weight: 700;
    font-size: 15px;
	text-transform: uppercase;
}
.icon-pic img{
    width: 55px;
    padding: 25px 0px;
	transition: 0.4s ease;
}
.icons:hover .icon-pic img{
	transform: scale(1.3);	
}
.heading h3 span:hover { 
  padding-left: 25px;
}
#teachers.owl-theme .owl-controls .owl-buttons div{
    position: absolute;
    top: -50px;
    opacity: 1;
    background: #2CC779;
    padding: 2px 12px;
    font-size: 19px;
}
#teachers.owl-theme .owl-controls .owl-buttons .owl-prev{
	right: 50px;	
}
#teachers.owl-theme .owl-controls .owl-buttons .owl-next{
	right: 10px;	
}
.notify-popup p{
	font-size: 13px;	
}
.notify-popup h4 {
    font-size: 15px;
    color: #000;
}
.notify-body hr{
	margin: 10px;	
}
.notify-body{
	border: 3px solid #2CC779;	
}
.notify-body h3{
	text-align: center;
    margin: 0px;
    background: #FF7D5D;
    padding: 10px;
    font-size: 20px;
	color: #fff;
}
.notify-content .modal-footer{
	padding: 0px;
	border: 0px;	
}
.notify-content .modal-footer button{
	width: 40px;
    position: absolute;
    top: -15px;
    right: -15px;
	border-radius: 100%;
    border: 3px solid #2CC779;
}
.notify-content .modal-footer button:hover{
	background: #2CC779;
}
.student-sidebar ul{
	padding: 0px;
	margin: 0px;	
}
.student-sidebar ul li {
    list-style-type: none;
    margin-bottom: 10px;
    background: #2CC779;
    transition: 0.4s ease;
    width: 30%;
    display: inline-block;
    margin-right: 10px;
}
.student-sidebar ul li:hover{
	padding-left: 15px;
	background-color: #24AD68;
	border-left: 5px solid #FF7D5D;	
}
.student-sidebar ul li a {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px;
}
.student-sidebar ul li a i{
    padding-right: 10px;
}
.student-sidebar ul li a:hover{
	text-decoration: none;
}
#example_wrapper{
    border: 1px solid #ddd;
    padding: 15px;
}	
.dataTables_filter input{
    border: 1px solid #ccc;
    height: 34px;
}
.exam-table td,.exam-table th{
	padding: 8px;
	text-align: center;	
}
.exam-tables h4{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #FF7D5D;
    margin-top: 30px;
}
.exam-tables{
    border: 1px solid #ddd;
    padding: 10px;
}
.notification-form{
	padding: 0px;	
}
.notification-form input, .notification-form textarea {
    margin-bottom: 20px;
}
.button {
    background: #105E92;
    color: #fff;
    width: 120px;
}
.select-student-attendance{
	margin: 25px 0px;	
}
.select-student-attendance select{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
}
.dataTables_wrapper{
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 10px;	
}
.teacher-page-attendance .nav-tabs>li.active>a,
.teacher-page-attendance .nav-tabs>li.active>a:focus, 
.teacher-page-attendance .nav-tabs>li.active>a:hover {
    background: #2CC779;
	border: none;
}
.teacher-page-attendance .nav-tabs{
	border-bottom: none;	
}
.teacher-page-attendance .nav-tabs>li {
    background: #105E92;
	min-width: 50%;
}
.teacher-page-attendance .nav-tabs>li a{
    color: #fff;
	border: none;
}
.teacher-page-attendance .nav-tabs>li a:hover{
    border: none !important;
	border-color: transparent;
}
.teacher-page-attendance .nav>li>a:focus, 
.teacher-page-attendance .nav>li>a:hover{
	background: #105E92;
	color:#fff;
}
.student-pro {
    border: 1px solid #ddd;
    padding: 2px;
    height: 156px;
    margin-bottom: 20px;
    display: flex;
}
.student-pro-pic {
    width: 220px;
    overflow: hidden;
	margin-right: 10px;
}
.student-pro-pic img{
	height: 150px;
	padding-right: 5px;
}
.student-pro-detail h4 {
    text-transform: capitalize;
    font-size: 13px;
    line-height: 22px;
	margin:0px;
}
.other-info-tab{
	margin-top: 20px;	
}
.other-info-tab .nav-tabs>li {
    width: 25%;
    text-align: center;
}
.other-info-tab .nav-tabs {
    border-bottom: 1px solid #105E92;
    background-color: #105E92;
}
.other-info-tab .nav-tabs>li.active>a,
.other-info-tab .nav-tabs>li.active>a:focus, 
.other-info-tab .nav-tabs>li.active>a:hover {
    background-color: #2CC779;
	border: 1px solid #2CC779;
	color: #fff;
}
.other-info-tab .nav-tabs>li>a {
    color: #fff;
}
.other-info-tab .nav>li>a:hover {
    text-decoration: none;
    background-color: #2CC779;
    border-color: transparent !important;
}
#remark-by-teacher_filter{
	display: none;	
}
@media screen and (max-width: 500px) {
	.pro-detail label {
    position: inherit;
    left: 0px;
    font-weight: 600;
}
.detail {
    padding-left: 10px;
}
.icons {
    width: 40%;
    height: 160px;
    margin: 5px;
}
}