<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="school-select">
    <h2 class="page-header">Register</h2>
    <form (submit)="onRegisterSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" [(ngModel)]="email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control">
        </div>
        <button class="btn submit-btn">Submit</button>
      </form>
</div>

