<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>School Diary</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

</head>

<body>
<div class="select-school">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="school-select">
          <form action="login.html">
            <label>Select School</label>
            <input list="schoolList" type="text" class="form-control" placeholder="Select School">
            <datalist id="schoolList">
              <option value="School 1"></option>
              <option value="School 2"></option>
              <option value="School 3"></option>
            </datalist>
            <a [routerLink] = "['/login']"><button class="btn submit-btn">Submit</button></a>
            <hr>
            <a href="#">Register School</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
